@charset 'utf-8';

@import 'variables';
@import 'sidebar';


.site-header {
	height: 415px;
	background: url(../images/common/bg-header.png) center center repeat-x;
	
	.main-image {
		position: relative;
		height: 357px;
	}
	
	#signboard {
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		width: 600px;
		height: 320px;
		margin: auto;
		padding: 30px 75px 50px;
		background: url(../images/common/bg-signboard.png) center center no-repeat;
	}
	
	.site-title {
		width: 100%;
		
		img {
			width: 70%;
			height: auto;
		}
	}
	
	.page-title {
		line-height: .8;
		font-weight: normal;
		font-size: $fs-28;
		color: #046a37;
		
		span {
			font-size: $fs-16;
			color: #777;
		}
	}
	
	#site-navigation {
	
		ul {
			padding: 10px 0 5px;
			background: #fff;
			border-radius: 10px;
		}
	}
} // header

#primary {
	width: $contentWidth;
	margin: auto;

/*
	.section {
		
		&:nth-child(odd) {
			
			background: #fff;
			
		}
		
		&:nth-child(even) {
			background: $bgColor;
		}
	} // .section
*/
}

#secondary {
	width: 100%;
	margin: auto;
	
	.section {
		padding: 30px 20px;
		background: $bgColor;
	}
}


#main {
	
	.page-title {
		padding: 25px 10px 25px;
		background: url(../images/common/bg-pagetitle.png) center bottom no-repeat;
	}
		
	.section {
		margin-bottom: 50px;
	}
	
	.section-inner {
		
		h2 {
			margin-top: 30px;
			padding: 15px 10px;
			background: #f4f4f4 url(../images/common/bg-subtitle.png) left center no-repeat;
		}
	}
	
	/*
	// シングルページ
	*/
	.article-header {
		margin: 0;
		padding: 0 0 5px;
		border-bottom: 3px solid #94c554;
	}
	
	.article-title {
		margin-bottom: 0;
		padding: 15px 0 15px 70px;
		background: url(../images/common/bg-article-title.png) left center no-repeat;
		font-size: $fs-28;
		font-weight: 700;
	}
	
	.article-date {
		margin: 0;
		padding: 0;
	}
	
	.social {
		padding: 10px 0;
		
		.sns-button {
			display: inline-block;
		}
		
		.fb-like {
			overflow: hidden !important;
		}
		
		.twitter {
			
		}
	}
	
	.article-content {
		margin: 25px 0;
		line-height: 1.8;
	}
	
	.page-navi {
		padding: 10px 0;
		border-top: 3px solid #94c554;
		
		.prev {
			padding-left: 0;
			
			a {
				display: block;
				padding-left: 25px;
				background: url(../images/common/bg-prev.png) left .1em no-repeat;
			}
		}
		
		.next {
			padding-right: 0;
			
			a {
				display: block;
				padding-right: 25px;
				background: url(../images/common/bg-next.png) right .1em no-repeat;
			}
		}
	}
} // #main

@media screen and ( max-width: 767px ) {
	
	.site-header {
		height: auto;
		
		#signboard {
			width: 100%;
			height: auto;
			padding: 20px 30px 50px;
			background-size: 100% auto;
			
			.site-title {
				margin-bottom: 10px;
			}
		}
	}
	
	#primary {
		width: 100%;
	}
	
	#main {
		
		.section {
			margin-bottom: 0;
		}
	}
}